<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.2</string>
	<key>CFBundleDisplayName</key>
	<string>ServiceRequest</string>
	<key>CFBundleIdentifier</key>
	<string>servicerequest.idox</string>
	<key>CFBundleVersion</key>
	<string>1.4.9</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>ServiceRequest</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.9</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This will make it much easier for you to find and record stuff nearby</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This will make it much easier for you to find and record stuff nearby</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading videos</string>
	<key>NSCameraUsageDescription</key>
	<string>Capture the image</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>Access media</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Open the Gallery</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
